.about-page {
    padding-bottom: 3%;
    margin-top: 10%;
    font-size: 1.5vw;
}

.about-history, .about-vision {
    padding-bottom: 3%;
    margin-left: 10%;
    margin-right: 55%;
    text-align: center;
}

.history-p, .vision-p, .mission-p {
    padding: 1%;
    padding-top: 3%;
    display: block;
    text-align: center;
    line-height: 1.5;
}

.about-mission {
    padding-bottom: 3%;
    margin-right: 10%;
    margin-left: 55%;
    text-align: center;
}