.history-text, .vision-text, .mission-text {
    font-weight: 500;
    letter-spacing: 0.3rem;
    margin-right: 70%;
}

.history-p, .vision-p, .mission-p {
    padding-top: 0.5%;
    padding-bottom: 3%;
    line-height: 1.4;
    letter-spacing: 0.1rem;
}