.add-clothes-form {
    margin-left: 15%;
    margin-right: 15%;
    padding-bottom: 2%;
}

.add-image-container, .add-clothes-information {
    display: inline-block;
    vertical-align: top;
}

.add-image-container {
    width: 35%;
    margin-right: 15%;
}

.add-clothes-information h3{
    font-size: 120%;
    font-weight: 100;
    letter-spacing: 0.05em;
}

.add-clothes-information {
    font-size: 150%;
}

.add-clothes-information select {
    font-size: 90%;
}

.add-clothes-information option[value="red"] {
    background-color: red;
}

.add-clothes-information option[value="blue"] {
    background-color: blue;
} 

.add-clothes-information option[value="green"] {
    background-color: green;
}
