.setting-text {
    margin-left: 1%;
    margin-top: 8%;
    font-size: 3.5vw;
}

.tab-list {
    margin-top: 2%;
    margin-left: 5%;
    margin-right: 75%;
    font-size: 2vw;
}

.tab-list div {
    padding: 5%;
    cursor: pointer;
    border-bottom: none;
}

.tab-list div.active-tab {
    font-size: 120%;
    /* margin-right: 20%; */
}

.tab-list div:hover {
    /* margin-right: 20%; */
}

.tab-content {
    text-align: left;
}

.general-container {
    margin-top: -13.5%;
    margin-left: 32%;
    font-size: 1.35vw;
}

.general-text {
    letter-spacing: 0.1rem;
    font-weight: 500 !important;
}

.set-nickname-container, .set-location-container, .delete-account-container {
    padding-bottom: 2%;
}