.sidebar {
    position: fixed;
    font-size: 2.5vw;
    margin-left: 2%;
    margin-top: 8%;
}

.closet-heading {
    font-family: Impact, 'Arial Narrow Bold';
    letter-spacing: 0.10em;
}

.side-categories {
    margin-top: 10%;
    list-style: none;
    text-align: right;
    font-weight: 700;
    border-right: 3px solid #333;
    padding-right: 5%;
}

.ToAddItem {
    text-decoration: none;
}