.sidebar {
    position: fixed;
    font-size: 2.5vw;
    margin-left: 2%;
    margin-top: 10%;
}

.closet-heading {
    font-family: Impact, 'Arial Narrow Bold';
    letter-spacing: 0.10em;
}

.side-categories {
    list-style: none;
    text-align: right;
    font-weight: 700;
}