
.navbar-menu {
    padding: 1%;
}

.navbar-nav {
    font-size: 400%;
}

a {
    text-decoration: none;
    color: inherit;
    cursor: pointer;
}

ul > li {
    display: inline-block;
}

.navbar-gear, .navbar-toggle {
    width: 4%;
    float: right;
    padding: 4px;
}
